form {
    display: flex;
    flex-direction: column;
}

button {
    margin: 20px 15px 0px 0px;
}

.button-color__atualizar{
    background-color: #fdcb6e;
}

.button-color__deletar {
    background-color: #d63031;
}