form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}

.button-color__delete{
    background-color: #d63031;
}

.button-color__cancel {
    background-color: #fdcb6e;
}